@model LoginViewModel 
@{
    ViewBag.Title = "Login";
    Layout = "_AccountLayout";
}
<div class="account-container">
    <div class="account-box">
        <h3 class="text-center mb-4">Login</h3>
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="float-end">
                <a asp-action="VerifyEmail" asp-controller="Account" class="text-decoration-none">Forgot Password?</a>
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input type="checkbox" asp-for="RememberMe" class="form-check-input"/>
                    @Html.DisplayNameFor(a => a.RememberMe)
                </label>
            </div>
            <input type="submit" value="Login" class="btn btn-success w-100 p-2"/>
            <p class="text-center mt-2">
                Don't have an account? <a asp-action="Register" asp-controller="Account" class="text-decoration-none">Register</a>
            </p>
            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}