@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> _signInManager
@inject UserManager<User> _userManager

<li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">@_userManager.GetUserName(User)</span>
        
        <img class="img-profile rounded-circle"
             src="/Images/@(_userManager.GetUserAsync(User).Result.ProfileImage)">
    </a>
    @if (_signInManager.IsSignedIn(User))
    {
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
             aria-labelledby="userDropdown">
            <a class="dropdown-item" asp-action="Edit" asp-controller="User" asp-area="Admin" asp-route-username="@_userManager.GetUserName(User)">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
            </a>
            <a class="dropdown-item" asp-action="Logout" asp-controller="Account" asp-area="">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
            </a>
        </div>
    }
</li>